DATABASE_URL="file:./prisma/dev.db"
NEXT_PUBLIC_APP_NAME="Abhishek Boys Hostel"
NEXT_PUBLIC_DEFAULT_FEE="5000"

# Authentication Secrets
AUTH_SECRET="your-secure-jwt-secret-key-production"

# Initial Administrator Credentials (used in initial setup/seed)
ADMIN_NAME="Mahesh"
ADMIN_EMAIL="admin@abhishekhostel.com"
ADMIN_PHONE="+91 9059860870"
ADMIN_PASSWORD="YourSecureAdminPassword@2026"

# Google OAuth 2.0 Credentials (Optional)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# SMS Gateway Credentials (Optional)
FAST2SMS_API_KEY=""
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
